body {
    background-image: url('../img/Sierra.jpg');
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1, h2, h3, h4, p, aside, button {
    text-align: center;
    text-shadow: 0 2px 3px rgba(0,0,0,0.4);
    color: white;
    font-weight: 100;
    font-size: 300%;
}

h2 {
    font-size: 250%;
}

h3 {
    font-size: 200%;
}

h4 {
    font-size: 150%;
}

aside {
    font-size: 100%;
}

p {
    font-size: 100%;
    font-weight: 100;
}

div#dragme {
    position: absolute;
    left: 40%;
    top: 160px;
    width: 233px;
    height: 322px;
    background: rgba(0,0,0,0.66);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 4px;
    box-shadow: 10px 10px 20px black;
}

#dragme p {
    text-align: right;
    margin-right: 16px;
}

.circle {
    position: relative;
    width: 11px;
    height: 11px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
}

.circle:first-child {
    margin-left: 8px;
}

#red-circle {
    background: rgb(255, 39, 61);
}

#red-circle:active {
    background: rgb(205, 31, 46);
}

#yellow-circle {
    background: rgb(255, 189, 0);
}

#yellow-circle:active {
    background: rgb(196, 146, 0);
}

#green-circle {
    background: rgb(0, 219, 67);
}

#green-circle:active {
    background: rgb(0, 164, 49);
}

#calc-buffer {
    height: 79px;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    height: 48.5px;
}

.calc-button {
    width: 25%;
    background: rgb(224, 224, 224);
    box-sizing: border-box;
}

.calc-button:active {
    background: rgb(178, 178, 178);
}

.top-button:active {
    background: rgb(169, 169, 169);
}

.operators:active {
    background: rgb(206, 110, 0);
}

.top-button {
    background: rgb(214, 214, 214);
}

.operators {
    background: rgb(255, 140, 0);
}

.last.row > .calc-button:first-child {
    width: 50%;
    border-bottom-left-radius: 3px;
}

.last.row > .calc-button:last-child {
    border-bottom-right-radius: 3px;
}

* {
    cursor: default !important;
}
